.content{
    display: flex;
    padding-right: 20%;     
}
.img1{
    height: 90px;
    
    
}
.img2{
margin-left: 100px;
height: 60px;
}

.contenedor2{
    display: flex;
    padding-left: 950px;
    
    
    
}
.contenedor3{
    display: flex;
    justify-content: center;
}

.iconos{
    margin: 15px;
}
.coontenedor4{
    display: flex;
    justify-content: space-around;

}

.iconos2{
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
    

}
.contenedor4{
    height: 60px;
    background-color: #007EA8;
    padding: 10px;
    margin: 20px 0px 0px;
    
}
.iconos3{
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFF;
     padding: 0 20px;
    font: 16px;
    
    
}

a{
    text-decoration: none;
}

.opciones{
    
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-left: 10%;
    list-style: none;
    
    
}
.opciones > li:hover{
 background-color: yellowgreen;  

}