.content{
    display: flex;
    padding-right: 20%;     
}
.img1{
    height: 90px;
    
    
}
.img2{
margin-left: 100px;
height: 60px;
}

.contenedor2{
    display: flex;
    padding-left: 950px;
    
    
    
}
.contenedor3{
    display: flex;
    justify-content: center;
}

.iconos{
    margin: 15px;
}
.coontenedor4{
    display: flex;
    justify-content: space-around;

}

.iconos2{
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
    

}
.contenedor4{
    height: 60px;
    background-color: #007EA8;
    padding: 10px;
    margin: 20px 0px 0px;
    
}
.iconos3{
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFF;
     padding: 0 20px;
    font: 16px;
    
    
}

a{
    text-decoration: none;
}
.asisomos{
    font-size: 20px;
    color: #666;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.25px;
}

.asisomos2{
    font-family: Inter !important;
    font-style: normal;
    font-weight: 800 !important;
    font-size: 42px;
    line-height: 52px;
    letter-spacing: -0.5px;
    color: #007ea8;
}

.opciones{
    
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-left: 10%;
    list-style: none;
    
    
}
.opciones > li:hover{
 background-color: yellowgreen;  

}
.contenAsisomos1{
     margin-left: 170px;
     
}
.nuestrahistori{
    color: #007EA8;
}

.Nuestrahistoriatexto{
    margin-left: 170px;
    color: #666;
}
.parrafonuestrahistoria{
    margin-left: 170px;
    margin-right: 170px;
    color: #666;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    font-family: 14px;
    text-align: justify;
}
.contenedor10{
background-color: #f7f7f7;
}
.columna{
    margin-top: 100px;
}


.contenedor3{
    
}
